version: 2
updates:

  # Maintain dependencies for GitHub Actions
  - package-ecosystem: "github-actions"
    directory: ".github/workflows"
    target-branch: "master"
    schedule:
      interval: "monthly"
      time: "10:20"
    groups:
      actions:
        patterns:
          - "*"
    cooldown:
      default-days: 7

  # Maintain dependencies for pip
  - package-ecosystem: "pip"
    directory: "/"
    target-branch: "master"
    schedule:
      interval: "monthly"
      time: "10:10"
    groups:
      actions:
        patterns:
          - "*"
    cooldown:
      default-days: 7
