include README.rst

include ez_setup.py
include setuptools_bootstrap.py

recursive-include docs *
recursive-include licenses *

recursive-exclude archived_docs *
exclude old_tests.tar.gz
exclude *.pyc *.o
prune docs/_build
prune build
