include README.rst
include setup.cfg
include distribute_setup.py

recursive-include docs *
recursive-include licenses *

recursive-exclude archived_docs *
recursive-exclude old_tests *
exclude *.pyc *.o
prune docs/_build
prune build
