name: rc-testing

on:
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

permissions:
  contents: read

env:
  PYSYN_CDBS: "https://ssb.stsci.edu/trds"

jobs:
  tests:
    name: ${{ matrix.name }}
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        include:

          - name: RC testing in Linux with remote data
            os: ubuntu-latest
            python: '3.11'
            toxenv: py311-test-predeps
            toxposargs: --remote-data

          - name: RC testing in OSX
            os: macos-latest
            python: '3.9'
            toxenv: py39-test-predeps

          - name: RC testing in Windows
            os: windows-latest
            python: '3.10'
            toxenv: py310-test-predeps

    steps:
    - name: Checkout code
      uses: actions/checkout@d632683dd7b4114ad314bca15554477dd762a938  # v4.2.0
      with:
        fetch-depth: 0
    - name: Set up Python
      uses: actions/setup-python@0b93645e9fea7318ecaed2b359559ac225c90a2b  # v5.3.0
      with:
        python-version: ${{ matrix.python }}
    - name: Install Python dependencies
      run: |
        python -m pip install --upgrade pip tox
    - name: Run tests
      run: tox -e ${{ matrix.toxenv }} -- ${{ matrix.toxposargs }}
