name: rc-testing

on:
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

permissions:
  contents: read

env:
  PYSYN_CDBS: "https://ssb.stsci.edu/trds"

jobs:
  tests:
    name: ${{ matrix.name }}
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        include:

          - name: RC testing in Linux with remote data
            os: ubuntu-latest
            python: '3.11'
            toxenv: py311-test-predeps
            toxposargs: --remote-data

          - name: RC testing in OSX
            os: macos-latest
            python: '3.13'
            toxenv: py313-test-predeps

          - name: RC testing in Windows
            os: windows-latest
            python: '3.12'
            toxenv: py312-test-predeps

    steps:
    - name: Checkout code
      uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8  # v5.0.0
      with:
        fetch-depth: 0
    - name: Set up Python
      uses: actions/setup-python@a26af69be951a213d495a4c3e4e4022e16d87065  # v5.6.0
      with:
        python-version: ${{ matrix.python }}
    - name: Install Python dependencies
      run: |
        python -m pip install --upgrade pip tox
    - name: Run tests
      run: tox -e ${{ matrix.toxenv }} -- ${{ matrix.toxposargs }}
